# Sales Prediction Assessment

© Joshua Olalemi

---
### Project Overview: ML Prediction assessment

Further to the discussion I had with Mr Paul Oluyege of MaonTech, I was asked to build and train a machine-learning prediction system on the sales dataset provided. I am to use the data for the last 3 months' average monthly sales (AMS) number to predict the next month's average monthly sales number.

The further instructions given are:

- Dataset shared must be uploaded to PostgreSQL DB and read from there.
- Use a suitable model, bear in mind the prediction accuracy (i.e Linear regression)
- The output is as follows.
> 1. A job service (to auto-train the model on a scheduled basis  ) or an endpoint (as a manual trigger) to train the prediction model.
> 2. endpoint to get predicted value of sales for next month's future sales.

### Dataset data info

- `region` - the region where the depot is located, i.e SW, NT, SE, LG
- `depot` - the name of the depot i.e ABEOKUTA, also known as `location`
- `item_no` - Product number i.e 10040447, also known as `SKU`.
- `AMS` - Average monthly sales
- `month` - Month number, i.e Jan =1, Feb =2, ..., Dec = 12
- `year` - Operation year. i.e 2022.

### Project Methodology
From the problem statement, I deduced the below frame work for workflow:
#### Explore the Data:
#### Feature Engineering:
#### Modelling:
#### Deployment:

<a id="cont"></a>

## Table of Contents

<a href=#one>1. Importing Packages</a>

<a href=#two>2. Loading Data</a>

<a href=#three>3. Exploratory Data Analysis (EDA)</a>

<a href=#four>4. Data Engineering</a>

<a href=#five>5. Modeling</a>

<a href=#six>6. Model Performance</a>

<a href=#seven>7. Model Explanations</a>

<a href=#eight>8. Conclusion and Recommendation</a>

<a href=#nine>9. Acknowledgement and References</a>

 <a id="one"></a>
## 1. Importing Packages
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Importing Packages ⚡ |
| :--------------------------- |
| In this section I import, and briefly discuss, the libraries that will be used throughout my analysis and modelling. |

---

In [2]:
#For connecting to postgre
import psycopg2
import sys
sys.path.append('../') #to add the directory containing the config script
import maon_config as config
import pandas as pd

<a id="two"></a>
## 2. Loading the Data
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Loading the data ⚡ |
| :--------------------------- |
| In this section I loaded the data from the postgre server into a DataFrame. |

---

In [3]:
def connect():
    
    # Set up a connection to the postgres server.
    print("Setting up the postgres server...")
    conn_string = "host="+ config.PGHOST  +" dbname="+ config.PGDATABASE +" user=" + config.PGUSER \
                  +" password="+ config.PGPASSWORD
    #print(conn_string)
    print("\t...completed\nConnecting to the server...")
    conn = psycopg2.connect(conn_string)
    print("\t...Server Connected!")
    print("Importing data...")
    cursor = conn.cursor()
    
    # Create a cursor object
    cursor.execute("SELECT * FROM maontech_dataset")
    data = cursor.fetchall()
    print("\t...data imported!")
    return data

In [6]:
data = connect()
columns = ["region", "depot", "item_no", "tms", "ams", "month", "year"]
df = pd.DataFrame(data, columns=columns)
df.head()
del columns

Setting up the postgres server...
	...completed
Connecting to the server...
	...Server Connected!
Importing data...
	...data imported!

  region     depot   item_no        tms       ams  month  year
0   jags      FUNT  10063228   0.000000  0.000000      9  2022
1     SW  ABEOKUTA  10040447   8.878000  4.439000      1  2022
2     SW  ABEOKUTA  10040447   9.313929  4.656964      2  2022
3     SW  ABEOKUTA  10040447  10.244129  5.122065      3  2022
4     SW  ABEOKUTA  10040447  10.821800  5.410900      4  2022

As seen above, our target variable `ams` is not occupying the last column position in the dataset. Let's rearrange the columns to ensure it is the last column there.

In [ ]:
cols = [col for col in df.columns if col != 'ams'] + ['ams']

df = df.reindex(columns=cols)
del cols
df.head()